html{
    scroll-behavior: smooth;
}

body{
    height: fit-content;
    overflow: auto;
    width: 100vw;
    overflow-x: hidden !important;
}

.navbar{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
}

.nav-item{
    padding-left: 2.5rem;
}

.navbar-brand{
    margin-left: 4.5rem !important;
}

.nav-item-group{
    margin-right: 4.5rem;
}

.nav-routes:hover{
    color: #3E6FF4 !important;
}

.nft-img-1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 90%;
}

.nft-img-2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    height: 95%;
}

section{
    font-family: 'Poppins';
}

.section-one{
    margin-top: 6rem !important;
    margin-left: 5rem !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.section-two{
    margin-left: 4.5rem !important;
    margin-right: 4.5rem!important;
    padding-right: 0 !important;
}

.section-three{
    margin-left: 4.5rem !important;
    margin-right: 4.5rem!important;
    padding-right: 0 !important;
}

.section-four{
    margin-left: 4.5rem !important;
    margin-right: 4.5rem!important;
    padding-right: 0 !important;
}

.section-five{
    margin-left: 4.5rem !important;
    margin-right: 4.5rem!important;
    padding-right: 0 !important;
}

.section-six{
    margin-left: 4.5rem !important;
    margin-right: 4.5rem!important;
    padding-right: 0 !important;
}

.section-seven{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #6495ED;
    margin-top: 7rem !important;
    
}

.section-eight{
    padding-left: 2rem;
    padding-right: 2rem;
}

.name{
    color: #3E6FF4;
}

.about-me{
    padding: 0.5rem;
    font-weight: 700;
    font-size: 2.5rem;
}

.btn{
    width: 9rem;
    margin-top: 2.5rem;
    margin-left: 0.3rem;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
    border-radius: 8px !important;
    background-color: #3E6FF4 !important;
    border-color: #3E6FF4 !important;
    color: white !important;
}

.index-icon {
    margin: 15px 15px 25px;
    font-size: 1.3rem;
}
    
.index-link {
    text-decoration: none;
    color: black;
}

.index-link:hover{
    color: #3E6FF4;
}

.icons{
    margin-top: 5.5rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ellipse-1{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 770px;
    top: 450px;
}

.ellipse-2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 710px;
    top: 214px;
}

.ellipse-3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 730px;
    top: 100px;
}

.ellipse-4{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 30px;
    top: 100px;
}

.ellipse-5{
    position: absolute;
    width: 20px;
    height: 25px;
    left: -12px;
    top: 200px;
}


.personal-info{
    margin-top: 3rem;
    font-size: 1.5rem;
    color: black;
    padding: 3rem;
    padding-bottom: 0px;
    font-family: 'Poppins';
}

.section-header{
    color: #6495ED;
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center; 
    font-family: 'Montserrat';
}

#about-paragraph{
    margin-top: 1.1rem;
    font-size: 1.2rem;
}

.skills-section{
    padding: 1.2rem;
    margin-top: 5rem !important;
    padding-bottom: 0px;
}

.card-inner-text{
    margin-top: 0.5rem;
}

.card-text{
    font-size: 1rem;
}

.skills-column{
    padding: 1% 2%;
    margin-top: 1.1rem !important;
}

.skills-section{
    padding: 1rem;
    padding-left: 0px;
    padding-right: 0px;
}

.skill-type{
    font-size: 1.2rem;
}

.projects{
    margin-top: 1.1rem !important;
    height: 38rem; 
}

.website-btn{
    width: 8rem;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    font-weight: 500 !important;
    font-size: 1rem !important;
    border-radius: 8px !important;
    display: block;
    margin: 0 auto !important;
}

.company-text{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 0;
    font-size: 1.1rem;
}

.web-button-div{
    padding-left: 30rem;
    padding-right: 30rem;
}

.contact-icon-group{
    padding-left: 25rem;
    padding-right: 25rem;
}

.contact-2-div{
    padding-left: 17rem;
    padding-right: 17rem;
}

.achievements{
    font-size: 1.2rem;
    margin-top: 2rem !important;
}

hr{
    border-color: #f5f5f5;
    border-width: 0.5px !important;
}

.contact-section{
    margin-top: 5rem !important;
}

.contact-btn{
    width: 8rem;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    font-weight: 500 !important;
    font-size: 1rem !important;
    border-radius: 8px !important;
}

.contact-text-1{
    font-size: 1.2rem;
    margin-top: 2rem !important;
}

.contact-text-2{
    font-size: 1.2rem;
}

.footer-name{
    font-size: 1.2rem;
    margin-top: 1.3rem !important;
    font-weight: 600;
}

.copyright{
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: 600;
}

.entry-hidden{
    opacity: 0;
    filter: blur(4px);
    transform: translateY(150px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.about-me {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


/* MEDIA QUERIES */

@media (min-width: 200px) and (max-width: 361px) {

    body{
        height: fit-content;
        overflow-y: auto;
        width: 100vw;
        overflow-x: hidden !important;
        
    }

    .nft-img-1{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 45%;
    }
    
    .nft-img-2{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        height: 48%;
    }

    .contact-2-div{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .contact-text-2{
        font-size: 1rem;
    }

    .section-one{
        margin-top: 18rem !important;
        margin-left: 2rem !important;
        margin-right: 2rem !important;
        padding-right: 0 !important;
    }

    .about-me{
        padding: 0.3rem;
        font-weight: 700;
        font-size: 1.5rem !important;
    }
    
    .btn{
        width: 6rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 600 !important;
        font-size: 1rem !important;
        border-radius: 8px !important;
        background-color: #3E6FF4 !important;
        border-color: #3E6FF4 !important;
        color: white !important;
    }
    
    .index-icon {
        margin: 10px 10px 20px;
        font-size: 1.1rem;
    }
    
    .icons{
        margin-top: 2rem;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ellipse-1{
        position: absolute;
        width: 17px;
        height: 17px;
        left: 80%;
        top: 345px;
    }
    
    .ellipse-2{
        position: absolute;
        width: 15px;
        height: 15px;
        left: 60%;
        top: 330px;
    }
    
    .ellipse-3{
        display: none;
    }
    
    .ellipse-4{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 30px;
        top: 100px;
    }
    
    .ellipse-5{
        position: absolute;
        width: 20px;
        height: 25px;
        left: -12px;
        top: 200px;
    }

    .ellipse-6{
        display: none;
    }

    .navbar-brand{
        margin-left: 1rem !important;
        font-size: 0.9rem !important;
    }

    .nav-item{
        font-size: 0.9rem !important;
        margin-left: 0;
    }

    .section-two{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    #about-paragraph{
        margin-top: 1rem;
        font-size: 0.75rem;
    }

    .section-three{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .button-text{
        font-size: 0.8rem !important;
    }

    .personal-info{
        margin-top: 1rem;
    }

    .skills-section{
        padding: 1.2rem;
        margin-top: 2.5rem !important;
        padding-bottom: 0px;
    }

    .card-inner-text{
        margin-top: 0rem;
    }
    
    .card-text{
        font-size: 0.7rem;
    }

    .skill-type{
        font-size: 0.9rem;
    }

    .section-header{
        color: #6495ED;
        font-weight: 700;
        font-size: 1.3rem;
        text-align: center; 
        font-family: 'Montserrat';
    }

    .section-four{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .company-text{
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 3%;
        padding-bottom: 0;
        font-size: 0.6rem;
    }

    .website-btn{
        width: 4rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 500 !important;
        font-size: 0.5rem !important;
        border-radius: 8px !important;
        display: block;
        margin: 0 auto !important;
    }
    
    .web-button-div{
        padding-left: 35%;
        padding-right: 35%;
    }

    .projects{
        margin-top: 1.1rem !important;
        height: 16rem; 
    }

    .section-five{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .achievements{
        font-size: 0.7rem;
        margin-top: 1.5rem !important;
    }

    .section-eight{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .section-six{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .contact-text-1{
        font-size: 0.7rem;
        margin-top: 0rem !important;
    }

    .contact-section{
        margin-top: 4rem;
    }

    .contact-text-2{
        font-size: 0.7rem;
    }

    .contact-2-div{
        margin-top: 0rem !important;
    }

    .contact-icon-group{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .section-seven{
        margin: 0 !important;
        padding: 0 !important;
        background-color: #6495ED;
        margin-top: 5rem !important;
        
    }

    .footer-name{
        font-size: 0.9rem;
        margin-top: 0.7rem !important;
        font-weight: 600;
    }
    
    .copyright{
        font-size: 0.5rem;
        margin-top: 1rem;
        font-weight: 600;
    }

    .page-footer{
        height: 6rem;
    }

    #wave{
        width: 10%;
        height: 10%;
        margin-bottom: 0.5rem;
    }
}

@media (orientation: portrait) and (min-width: 361px) and (max-width: 515px) {
    body{
        height: fit-content;
        overflow-y: auto;
        width: 100vw;
        overflow-x: hidden !important;
        
    }

    .nft-img-1{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 46%;
        width: 75%;
    }
    
    .nft-img-2{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        height: 49%;
        width: 74%;
    }

    .contact-2-div{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .contact-text-2{
        font-size: 1rem;
    }

    .section-one{
        margin-top: 18rem !important;
        margin-left: 2rem !important;
        margin-right: 2rem !important;
        padding-right: 0 !important;
    }

    .about-me{
        padding: 0.3rem;
        font-weight: 700;
        font-size: 1.9rem;
    }
    
    .btn{
        width: 7rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 600 !important;
        font-size: 1rem !important;
        border-radius: 8px !important;
        background-color: #3E6FF4 !important;
        border-color: #3E6FF4 !important;
        color: white !important;
    }
    
    .index-icon {
        margin: 10px 10px 20px;
        font-size: 1.3rem;
    }
    
    .icons{
        margin-top: 2rem;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ellipse-1{
        position: absolute;
        width: 17px;
        height: 17px;
        left: 80%;
        top: 345px;
    }
    
    .ellipse-2{
        position: absolute;
        width: 15px;
        height: 15px;
        left: 60%;
        top: 330px;
    }
    
    .ellipse-3{
        display: none;
    }
    
    .ellipse-4{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 30px;
        top: 100px;
    }
    
    .ellipse-5{
        position: absolute;
        width: 20px;
        height: 25px;
        left: -12px;
        top: 200px;
    }

    .ellipse-6{
        display: none;
    }

    .navbar-brand{
        margin-left: 1rem !important;
        font-size: 0.9rem !important;
    }

    .nav-item{
        font-size: 0.9rem !important;
        margin-left: 0;
    }

    .navbar-item-group{
        margin-right: 0rem;
    }

    .section-two{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    #about-paragraph{
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    .personal-info{
        margin-top: 0rem !important;
        font-size: 1.5rem;
        color: black;
        padding: 3rem;
        padding-bottom: 0px;
        font-family: 'Poppins';
    }

    .section-three{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .skills-section{
        padding: 1.2rem;
        margin-top: 2.5rem !important;
        padding-bottom: 0px;
    }

    .skill-type{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .card-inner-text{
        margin-top: 0rem;
    }
    
    .card-text{
        font-size: 0.9rem;
    }

    .section-header{
        color: #6495ED;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center; 
        font-family: 'Montserrat';
    }

    .section-four{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .company-text{
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 3%;
        padding-bottom: 0;
        font-size: 0.8rem;
    }

    .website-btn{
        width: 5.4rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 500 !important;
        font-size: 0.8rem !important;
        border-radius: 8px !important;
        display: block;
        margin: 0 auto !important;
    }
    
    .web-button-div{
        padding-left: 35%;
        padding-right: 35%;
    }

    .projects{
        margin-top: 1.1rem !important;
        height: 22rem; 
    }

    .section-five{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .achievements{
        font-size: 0.9rem;
        margin-top: 1.5rem !important;
    }

    .section-eight{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .section-six{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .contact-text-1{
        font-size: 0.9rem;
        margin-top: 0rem !important;
    }

    .contact-text-2{
        font-size: 0.9rem;
    }

    .contact-2-div{
        margin-top: 0rem !important;
    }

    .contact-icon-group{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-seven{
        margin: 0 !important;
        padding: 0 !important;
        background-color: #6495ED;
        margin-top: 5rem !important;
        
    }

    .footer-name{
        font-size: 1rem;
        margin-top: 1.3rem !important;
        font-weight: 600;
    }
    
    .copyright{
        font-size: 0.6rem;
        margin-top: 1rem;
        font-weight: 600;
    }

    #wave{
        width: 10%;
        height: 10%;
        margin-bottom: 0.5rem;
    }
} 

@media (orientation: landscape) and (min-width: 361px) and (max-width: 1000px) {

    html{
        overflow-x: hidden !important; 
        /* overflow-y: scroll; */
        width: 100vw !important;
        height: fit-content;
        scroll-behavior: smooth;
    }
    body{
        /* height: 250% !important; */
        overflow-y: auto;
        width: 100vw !important;
        overflow-x: hidden !important;
        height: fit-content;
        
    }

    .nft-img-1{
        position: absolute !important;
        top: 0;
        right: 0;
        z-index: -1;
        height: 86% !important;
        width: 40% !important;
    }
    
    .nft-img-2{
        position: absolute !important;
        top: 0;
        right: 0;
        z-index: -2;
        height: 89% !important;
        width: 40% !important;
    }

    /* .contact-2-div{
        padding-left: 0rem;
        padding-right: 0rem;
    } */

    .section-one{ 
        margin-top: 4rem !important;
        margin-left: 2rem !important;
        margin-right: 0rem !important;
        padding-right: 0 !important;
    }

    .about-me{
        padding: 0.1rem;
        font-weight: 700;
        font-size: 1.6rem;
        margin-top: 0rem !important;
    }
    
    .btn{
        width: 6rem;
        margin-top: 0rem;
        margin-left: 0rem;
        font-weight: 600 !important;
        font-size: 0.9rem !important;
        border-radius: 8px !important;
        background-color: #3E6FF4 !important;
        border-color: #3E6FF4 !important;
        color: white !important;
    }
    
    .index-icon {
        margin: 8px 8px 15px;
        font-size: 1rem;
    }
    
    .icons{
        margin-top: 0.5rem;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ellipse-1{
        position: absolute;
        width: 17px;
        height: 17px;
        left: 200px;
        top: 450px;
        display: none;
    }
    
    .ellipse-2{
        position: absolute;
        width: 15px;
        height: 15px;
        left: 420px;
        top: 214px;
    }
    
    .ellipse-3{
        position: absolute;
        width: 15px;
        height: 15px;
        left: 250px;
        top: 100px;
    }
    
    .ellipse-4{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 30px;
        top: 100px;
        display: none;
    }
    
    .ellipse-5{
        position: absolute;
        width: 20px;
        height: 25px;
        left: -12px;
        top: 200px;
        display: none;
    }

    .ellipse-6{
        display: none;
    }

    .navbar-brand{
        margin-left: 1.5rem !important;
        font-size: 0.9rem !important;
    }

    .nav-item{
        font-size: 0.9rem !important;
        margin-left: 0;
    }

    .navbar-item-group{
        margin-right: 1rem;
    }

    /* .navbar-toggler{
        margin-right: 15rem !important;
    } */

    .section-two{
        margin-left: 2rem !important;
        margin-right: 2rem !important;
        padding-right: 0 !important;
    }

    #about-paragraph{
        margin-top: 0rem;
        font-size: 1rem;
    }

    .personal-info{
        margin-top: 1.2rem !important;
        font-size: 1.5rem;
        color: black;
        padding: 3rem;
        padding-bottom: 0px;
        font-family: 'Poppins';
    }

    .section-three{
        margin-left: 5rem !important;
        margin-right: 5rem!important;
        padding-right: 0 !important;
    }

    .skills-section{
        padding: 1.2rem;
        margin-top: 4rem !important;
        padding-bottom: 0px;
    }

    .skill-type{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
    }

    .card-inner-text{
        margin-top: 0rem;
    }
    
    .card-text{
        font-size: 1rem;
    }

    .section-header{
        color: #6495ED;
        font-weight: 700;
        font-size: 1.6rem;
        text-align: center; 
        font-family: 'Montserrat';
    }

    .section-four{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .company-text{
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 0;
        font-size: 0.9rem;
    }

    .website-btn{
        width: 7rem;
        margin-top: 0.5rem;
        margin-left: 0.3rem;
        font-weight: 500 !important;
        font-size: 0.8rem !important;
        border-radius: 8px !important;
        display: block;
        margin: 0 auto !important;
    }
    
    .web-button-div{
        padding-left: 40%;
        padding-right: 40%;
    }

    .projects{
        margin-top: 1.1rem !important;
        height: 25rem; 
    }

    .section-five{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .achievements{
        font-size: 1rem;
        margin-top: 1rem !important;
    }

    .section-eight{
        padding-left: 5rem;
        padding-right: 7rem;
    }

    .section-six{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .contact-text-1{
        font-size: 1rem;
        margin-top: 1rem !important;
    }

    .contact-text-2{
        font-size: 1rem;
    }

    .contact-2-div{
        margin-top: 0rem !important;
        padding-left: 0%;
        padding-right: 0%;
    }

    .contact-section{
        margin-top: 4rem !important;
    }

    .contact-icon-group{
        padding-left: 30%;
        padding-right: 30%;
    }

    .section-seven{
        margin: 0 !important;
        padding: 0 !important;
        background-color: #6495ED;
        margin-top: 7rem !important;
        
    }

    .footer-name{
        font-size: 1.1rem;
        margin-top: 0.9rem !important;
        font-weight: 600;
    }
    
    .copyright{
        font-size: 0.7rem;
        margin-top: 1.3rem;
        font-weight: 600;
    }

} 

@media (min-width: 515px) and (max-width: 576px) {

    body{
        height: fit-content;
        overflow-y: auto;
        width: 100vw;
        overflow-x: hidden !important;
        
    }

    .nft-img-1{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 47%;
        width: 70%;
    }
    
    .nft-img-2{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        height: 50%;
        width: 69%;
    }

    .section-one{
        margin-top: 18rem !important;
        margin-left: 2rem !important;
        margin-right: 2rem !important;
        padding-right: 0 !important;
    }

    .about-me{
        padding: 0.3rem;
        font-weight: 700;
        font-size: 2.5rem;
    }
    
    .btn{
        width: 9rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 600 !important;
        font-size: 1.3rem !important;
        border-radius: 8px !important;
        background-color: #3E6FF4 !important;
        border-color: #3E6FF4 !important;
        color: white !important;
    }
    
    .index-icon {
        margin: 15px 15px 25px;
        font-size: 1.5rem;
    }
    
    .icons{
        margin-top: 2rem;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ellipse-1{
        position: absolute;
        width: 17px;
        height: 17px;
        left: 80%;
        top: 345px;
    }
    
    .ellipse-2{
        position: absolute;
        width: 15px;
        height: 15px;
        left: 60%;
        top: 330px;
    }
    
    .ellipse-3{
        display: none;
    }
    
    .ellipse-4{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 30px;
        top: 100px;
    }
    
    .ellipse-5{
        position: absolute;
        width: 20px;
        height: 25px;
        left: -12px;
        top: 200px;
    }

    .ellipse-6{
        display: none;
    }

    .navbar-brand{
        margin-left: 1rem !important;
        font-size: 1.2rem !important;
    }

    .nav-item{
        font-size: 1.2rem !important;
        margin-left: 0;
    }

    .section-two{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    #about-paragraph{
        margin-top: 1rem;
        font-size: 1rem;
    }

    .section-three{
        margin-left: 4rem !important;
        margin-right: 4rem!important;
        padding-right: 0 !important;
    }

    .skills-section{
        padding: 1.2rem;
        margin-top: 2.5rem !important;
        padding-bottom: 0px;
    }

    .card-inner-text{
        margin-top: 0rem;
    }
    
    .card-text{
        font-size: 1rem;
    }

    .section-header{
        color: #6495ED;
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center; 
        font-family: 'Montserrat';
    }

    .section-four{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .company-text{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5%;
        padding-bottom: 0;
        font-size: 0.8rem;
    }

    .website-btn{
        width: 9rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 500 !important;
        font-size: 1rem !important;
        border-radius: 8px !important;
        display: block;
        margin: 0 auto !important;
    }
    
    .web-button-div{
        padding-left: 39%;
        padding-right: 39%;
    }

    .projects{
        margin-top: 1.1rem !important;
        height: 23rem; 
    }

    .section-five{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .achievements{
        font-size: 1rem;
        margin-top: 1.5rem !important;
    }

    .section-eight{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .section-six{
        margin-left: 2rem !important;
        margin-right: 2rem!important;
        padding-right: 0 !important;
    }

    .contact-text-1{
        font-size: 1rem;
        margin-top: 0rem !important;
    }

    .contact-text-2{
        font-size: 1rem;
    }

    .contact-2-div{
        margin-top: 0rem !important;
    }

    .contact-icon-group{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .section-seven{
        margin: 0 !important;
        padding: 0 !important;
        background-color: #6495ED;
        margin-top: 5rem !important;
        
    }

    .footer-name{
        font-size: 1.1rem;
        margin-top: 1.3rem !important;
        font-weight: 600;
    }
    
    .copyright{
        font-size: 0.7rem;
        margin-top: 1rem;
        font-weight: 600;
    }

    .contact-2-div{
        padding-left: 0rem;
        padding-right: 0rem;
    }
} 

@media (orientation: portrait) and (min-width: 576px) and (max-width: 768px) {
    body{
        height: fit-content;
        overflow-y: auto;
        width: 100vw;
        overflow-x: hidden !important;
        
    }

    .nft-img-1{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 53%;
        width: 70%;
    }
    
    .nft-img-2{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        height: 56%;
        width: 69%;
    }

    .section-one{
        margin-top: 20rem !important;
        margin-left: 3rem !important;
        margin-right: 3rem !important;
        padding-right: 0 !important;
    }

    .about-me{
        padding: 0.3rem;
        font-weight: 700;
        font-size: 2.7rem;
    }
    
    .btn{
        width: 10rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 600 !important;
        font-size: 1.3rem !important;
        border-radius: 8px !important;
        background-color: #3E6FF4 !important;
        border-color: #3E6FF4 !important;
        color: white !important;
    }
    
    .index-icon {
        margin: 20px 20px 25px;
        font-size: 1.5rem;
    }
    
    .icons{
        margin-top: 2rem;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ellipse-1{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 54%;
        top: 380px;
    }
    
    .ellipse-2{
        position: absolute;
        width: 17px;
        height: 17px;
        left: 44%;
        top: 340px;
    }
    
    .ellipse-3{
        display: none;
    }
    
    .ellipse-4{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 30px;
        top: 100px;
    }
    
    .ellipse-5{
        position: absolute;
        width: 20px;
        height: 25px;
        left: -12px;
        top: 200px;
    }

    .ellipse-6{
        display: none;
    }
    .navbar-brand{
        margin-left: 3rem !important;
        font-size: 1.3rem !important;
    }

    .nav-item{
        font-size: 1.3rem !important;
        margin-left: 0;
    }

    .navbar-item-group{
        margin-left: 1rem;
    }

    .section-two{
        margin-left: 3rem !important;
        margin-right: 3rem!important;
        padding-right: 0 !important;
    }

    #about-paragraph{
        margin-top: 1rem;
        font-size: 1.1rem;
    }

    .section-three{
        margin-left: 4rem !important;
        margin-right: 4rem!important;
        padding-right: 0 !important;
    }

    .skills-section{
        padding: 1.2rem;
        margin-top: 2.5rem !important;
        padding-bottom: 0px;
    }

    .skill-type{
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }

    .card-inner-text{
        margin-top: 0.5rem;
    }
    
    .card-text{
        font-size: 1.1rem;
    }

    .section-header{
        color: #6495ED;
        font-weight: 700;
        font-size: 2rem;
        text-align: center; 
        font-family: 'Montserrat';
    }

    .section-four{
        margin-left: 3rem !important;
        margin-right: 3rem!important;
        padding-right: 0 !important;
    }

    .company-text{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5%;
        padding-bottom: 0;
        font-size: 1rem;
    }

    .website-btn{
        width: 9rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 500 !important;
        font-size: 1rem !important;
        border-radius: 8px !important;
        display: block;
        margin: 0 auto !important;
    }
    
    .web-button-div{
        padding-left: 39%;
        padding-right: 39%;
    }

    .projects{
        margin-top: 1.1rem !important;
        height: 27rem; 
    }

    .section-five{
        margin-left: 3rem !important;
        margin-right: 3rem!important;
        padding-right: 0 !important;
    }

    .achievements{
        font-size: 1.1rem;
        margin-top: 1.5rem !important;
    }

    .section-eight{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .section-six{
        margin-left: 3rem !important;
        margin-right: 3rem!important;
        padding-right: 0 !important;
    }

    .contact-text-1{
        font-size: 1.1rem;
        margin-top: 0rem !important;
    }

    .contact-text-2{
        font-size: 1.1rem;
    }

    .contact-2-div{
        margin-top: 0rem !important;
    }

    .contact-icon-group{
        padding-left: 15%;
        padding-right: 15%;
    }

    .section-seven{
        margin: 0 !important;
        padding: 0 !important;
        background-color: #6495ED;
        margin-top: 5rem !important;
        
    }

    .footer-name{
        font-size: 1.3rem;
        margin-top: 1.3rem !important;
        font-weight: 600;
    }
    
    .copyright{
        font-size: 0.8rem;
        margin-top: 1rem;
        font-weight: 600;
    }

    .contact-2-div{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    body{
        height: fit-content;
        overflow-y: auto;
        width: 100vw;
        overflow-x: hidden !important;
        
    }

    .nft-img-1{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 53%;
        width: 70%;
    }
    
    .nft-img-2{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        height: 56%;
        width: 69%;
    }

    .section-one{
        margin-top: 20rem !important;
        margin-left: 4rem !important;
        margin-right: 40% !important;
        padding-right: 0 !important;
    }

    .about-me{
        padding: 0.3rem;
        font-weight: 700;
        font-size: 2.7rem;
    }
    
    .btn{
        width: 10rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 600 !important;
        font-size: 1.3rem !important;
        border-radius: 8px !important;
        background-color: #3E6FF4 !important;
        border-color: #3E6FF4 !important;
        color: white !important;
    }
    
    .index-icon {
        margin: 20px 20px 20px;
        font-size: 1.7rem;
    }
    
    .icons{
        margin-top: 2rem;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ellipse-1{
        display: none;
    }

    .ellipse-2{
        display: none;
    }

    .ellipse-3{
        display: none;
    }

    .ellipse-4{
        display: none;
    }

    .ellipse-5{
        display: none;
    }

    .navbar-brand{
        margin-left: 3rem !important;
        font-size: 1.4rem !important;
    }

    .nav-item{
        font-size: 1.4rem !important;
        margin-left: 0;
    }

    .navbar-item-group{
        margin-left: 1rem;
    }

    .section-two{
        margin-left: 4rem !important;
        margin-right: 4rem!important;
        padding-right: 0 !important;
    }

    #about-paragraph{
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    .section-three{
        margin-left: 4rem !important;
        margin-right: 4rem!important;
        padding-right: 0 !important;
    }

    .skills-section{
        padding: 1.2rem;
        margin-top: 2.5rem !important;
        padding-bottom: 0px;
    }

    .card-inner-text{
        margin-top: 0.5rem;
    }

    .skill-type{
        font-size: 1.5rem;
        margin-top: 0.6rem;
    }
    
    .card-text{
        font-size: 1.4rem;
    }

    .section-header{
        color: #6495ED;
        font-weight: 700;
        font-size: 2rem;
        text-align: center; 
        font-family: 'Montserrat';
    }

    .section-four{
        margin-left: 4rem !important;
        margin-right: 4rem!important;
        padding-right: 0 !important;
    }

    .company-text{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5%;
        padding-bottom: 0;
        font-size: 1.2rem;
    }

    .website-btn{
        width: 10rem;
        margin-top: 1rem;
        margin-left: 0.3rem;
        font-weight: 500 !important;
        font-size: 1rem !important;
        border-radius: 8px !important;
        display: block;
        margin: 0 auto !important;
    }
    
    .web-button-div{
        padding-left: 39%;
        padding-right: 39%;
    }

    .projects{
        margin-top: 1.1rem !important;
        height: 32rem; 
    }

    .section-five{
        margin-left: 4rem !important;
        margin-right: 4rem!important;
        padding-right: 0 !important;
    }

    .achievements{
        font-size: 1.4rem;
        margin-top: 1.5rem !important;
    }

    .section-eight{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .section-six{
        margin-left: 4rem !important;
        margin-right: 4rem!important;
        padding-right: 0 !important;
    }

    .contact-text-1{
        font-size: 1.4rem;
        margin-top: 0rem !important;
    }

    .contact-text-2{
        font-size: 1.4rem;
    }

    .contact-2-div{
        margin-top: 0rem !important;
    }

    .contact-icon-group{
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .section-seven{
        margin: 0 !important;
        padding: 0 !important;
        background-color: #6495ED;
        margin-top: 5rem !important;
        
    }

    .footer-name{
        font-size: 1.4rem;
        margin-top: 1.3rem !important;
        font-weight: 600;
    }
    
    .copyright{
        font-size: 0.9rem;
        margin-top: 1rem;
        font-weight: 600;
    }

    .contact-2-div{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}   



/* @media (min-width: 1200px) { ... } */

  





























/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */  */





